<% provide(:title, "Home") %>
<div class="center jumbotron">
	<h1>Welcome to Nikjam</h1>
	<h2>
	This is the very first Blogspot for the
		<a href="http://www.railstutorial.org/">NextGen</a>
	upcoming youth.
	</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails logo"),
'http://rubyonrails.org/' %>
<%= link_to image_tag("rsz_circle-a_red_star.png", alt: "Circle-A_red_star logo"),
'http://rubyonrails.org/' %>
<%= link_to image_tag("rsz_n-star-white-line_copy.png", alt: "n star logo"),
'http://rubyonrails.org/' %>